{% extends "./base.html" %}
{% load static %}

{% block home-content %}

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <img class="img-responsive" src="{% static 'images/motel-front-01.jpg' %}">
    </div>
    <div class="col-md-4">
      <p style="font-size: 24px">Our prices</p>
      <div class="row">
        <table class="table table-sm table-striped table-hover table-responsive">
          <tbody>
            <tr class="table-info">
              <td>1 Double Bed</td><td>CAD 100 / night</td>
            </tr>
            <tr>
              <td>2 Double Bed</td><td>CAD 150 / night</td>
            </tr>
            <tr>
              <td>Superior Room</td><td>CAD 180 / night</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <p style="font-size: 24px">Book a room now</p>
        <form class="form" id="">
          <div class="form-group">
            <div class="input-group date">
              <input type="text" class="form-control" name="checkinDate" id="checkin-datepicker" placeholder="Date of check-in">
              <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
            </div>
          </div>

          <div class="form-group">
            <div class="input-group date">
              <input type="text" class="form-control" name="checkoutDate" id="checkout-datepicker" placeholder="Date of check-out">
              <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
            </div>
          </div>

          <div class="form-group">
            <select name="roomType" class="form-control">
              <option value="" disabled selected>Select a room type</option> 
              <option value="1-double-bed">1 Double Bed</option> 
              <option value="2-double-bed">2 Double Bed</option> 
              <option value="superior-room">Superior Room</option> 
            </select>
          </div>

          <div class="form-group">
            <select name="numOfAdults" class="form-control">
              <option value="" disabled selected>Number of adults</option> 
              <option value="1">1</option> 
              <option value="2">2</option> 
              <option value="3">3</option> 
            </select>
          </div>

          <div class="form-group">
            <select name="numOfChildren" class="form-control">
              <option value="" disabled selected>Number of children</option> 
              <option value="0">0</option> 
              <option value="1">1</option> 
              <option value="2">2</option> 
              <option value="3">3</option> 
            </select>
          </div>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#reserveModal">  Reserve Now  </button>

        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
        <p style="font-size: 24px">Rooms</p>
        <img class="img-responsive" src="{% static 'images/one-double-bed-01.jpg' %}">
    </div>

    <div class="col-md-4">
        <p style="font-size: 24px">Facilities</p>
        <img class="img-responsive" src="{% static 'images/pool-01.jpg' %}">
    </div>

    <div class="col-md-4">
        <p style="font-size: 24px">Attractions</p>
        <img class="img-responsive" src="{% static 'images/attraction-01.jpg' %}">
    </div>
  </div>
</div>

{% endblock %}
