{% extends "./base.html" %}
{% load static %}

{% block home-content %}

<div class="container">

  <div class="row" style="padding-bottom: 20px">
    <div class="col-md-8 cover-banner">
      <img class="img-responsive" src="{% static 'images/motel-front-01.jpg' %}">
      <div id="overlay">
        <h3>18 Rooms Available</h2>
        <h2>819-864-4322</h3>
        <br>
        <h4>Pools, Free WiFi, BBQ, ...</h4>
      </div>
    </div>

    <div class="col-md-4">
      <p style="font-size: 24px">Our prices</p>
      <div class="row">
        <table class="table table-sm table-striped table-hover table-responsive">
          <tbody>
            <tr class="table-info">
              <td>Economic - 1 Double Bed</td><td>CAD 100 / night</td>
            </tr>
            <tr>
              <td>Standard - 1 Double Bed</td><td>CAD 120 / night</td>
            </tr>
            <tr>
              <td>Standard - 2 Double Bed</td><td>CAD 150 / night</td>
            </tr>
            <tr>
              <td>Superior Room</td><td>CAD 180 / night</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row text-center">
        <a href="/reserve/" class="btn btn-primary">Book My Room</a>
      </div>

    </div>

  </div>

  <div class="row">
    <div class="col-md-3">
      <p style="font-size: 24px"><a href="/rooms/">Rooms<a></p>
      <a href="/rooms/"><img class="img-responsive" src="{% static 'images/standard-1-bed-01.jpg' %}"></a>
    </div>

    <div class="col-md-3">
      <p style="font-size: 24px">Facilities</p>
      <img class="img-responsive" src="{% static 'images/pool-01.jpg' %}">
    </div>

    <div class="col-md-3">
      <p style="font-size: 24px">Attractions</p>
    </div>

    <div class="col-md-3">
      <p style="font-size: 24px">Reserved</p>
    </div>

  </div>

</div>

{% endblock %}
