{% extends "./base.html" %}
{% load static %}

{% block reserve-room %}

<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading text-center" style="font-weight: bold; font-size: 20px">Book My Room</div>
    <div class="panel-body">
      <div class="col-md-1"></div>

      <div class="col-md-10">

        <form class="form" id="reserveForm" method="POST">
          {% csrf_token %}

          <div class="form-group col-md-6">
            <label class="control-label">Select the room type</label>
            {{ reserveForm.room_type }}
          </div>

          <div class="form-group col-md-2">
            <label class="control-label">Num. of rooms</label>
            {{ reserveForm.num_of_rooms }}
          </div>

          <div class="form-group col-md-2">
            <label class="control-label">Num. of adults</label>
            {{ reserveForm.num_of_adults }}
          </div>

          <div class="form-group col-md-2">
            <label class="control-label">Num. of children</label>
            {{ reserveForm.num_of_children }}
          </div>



          <div class="form-group col-md-6">
            <label class="control-label">Check-in date</label>
            <div class="input-group date">
              {{ reserveForm.checkin_date }}
              <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label class="control-label">Check-out date</label>
            <div class="input-group date">
              {{ reserveForm.checkout_date }}
              <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-6">
              <label class="control-label">Your name</label>
              {{ reserveForm.client_name }}
            </div>

            <div class="form-group col-md-6">
            </div>
          </div>


          <div class="row">
            <div class="form-group col-md-6">
              <label class="control-label">Your phone number</label>
              {{ reserveForm.client_phone }}
            </div>

            <div class="form-group col-md-6">
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-6">
              <label class="control-label">Your email</label>
              {{ reserveForm.client_email }}
            </div>

            <div class="form-group col-md-6">
            </div>
          </div>

          <div class="row">
          <div class="form-group col-md-6">
            <label class="control-label">Your message</label>
            {{ reserveForm.client_message }}
          </div>

          <div class="form-group col-md-6">
          </div>
          </div>



          <div class="col-md-12 text-center" style="padding: 20px">
            <button id="reserveBtn" type="submit" class="btn btn-primary">Send</button>
          </div>

        </form>
      </div>

      <div class="col-md-1"></div>

    </div>
  </div>
</div>

{% endblock %}


