{% extends "./base.html" %}
{% load static %}

{% block rooms-gallery %}

<div class="container" style="padding: 10px 30px">
  <div class="row" id="standard-1-room">
    <h3> Standard 1 Queen bed </h3>
    <div class="col-md-4 room-gallery">

      <div id="standard-1-carousel" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src={% static 'images/standard-1-bed-01.jpg' %} style="width:100%;">
          </div>
          <div class="item">
            <img src={% static 'images/standard-1-bed-02.jpg' %} style="width:100%;">
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#standard-1-carousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span> </a>
        <a class="right carousel-control" href="#standard-1-carousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    </div>

    <div class="col-md-8 room-text">
      <p>laksdfj </p>
    </div>

  </div>

  <div class="row" id="standard-2-room">
    <h3> Standard 2 Double beds </h3>
    <div class="col-md-4 room-gallery">

      <div id="standard-2-carousel" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src={% static 'images/standard-2-bed-01.jpg' %} style="width:100%;">
          </div>
          <div class="item">
            <img src={% static 'images/standard-2-bed-02.jpg' %} style="width:100%;">
          </div>
          <div class="item">
            <img src={% static 'images/standard-2-bed-03.jpg' %} style="width:100%;">
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#standard-2-carousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span> </a>
        <a class="right carousel-control" href="#standard-2-carousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    </div>
    <div class="col-md-8 room-text">
      <p>laksdfj </p>
    </div>
  </div>

  <div class="row" id="superior-room">
    <h3> Superior room </h3>
    <div class="col-md-4 room-gallery">
      <img class="img-responsive" src="{% static 'images/standard-1-bed-01.jpg' %}">
    </div>
    <div class="col-md-8 room-text">
      <p>laksdfj </p>
    </div>
  </div>

</div>

{% endblock %}


